*{box-sizing:border-box;margin:0;padding:0;font-size:100%;font-style:normal;word-wrap:break-word!important;font-family:'roboto',sans-serif}
html body{text-align:justify;float:none;background-color:#000;color:#eee;margin:0;scroll-behavior:smooth}
img{border:none;padding:0}
p{margin:6px 0 6px 0;padding:5px 0 10px 0}
ol,ul{margin-left:3.24em}
h1,h2,h3,h3,h5,h6{display:block;font-weight:bold;color:#f60;margin-top:2em;margin-bottom:1em}
h1{font-size:2em}h2{font-size:1.75em}h3{font-size:1.5em}h4{font-size:1.25em}h5{font-size:1em}h6{font-size:.9em}
a:link,a:visited,a:active,a:focus{text-decoration:none;color:#eee}a:hover{text-decoration:underline;color:#080;cursor:pointer}

.about{height:100vh}
.bold{font-weight:bold}

.green{color:#090}
.red{color:#F00}
.grey{color:#666}
.white{color:#FFF}
.black{color:#000}

.bc_white{background-color:#FFF}
.bc_red{background-color:#F00}
.bc_green{background-color:#090}
.bc_grey{background-color:#444}
.bc_black{background-color:#000}

.txt32{font-size:2em}
.txt20{font-size:1.25em}
.txt16{font-size:1em}
.txt14{font-size:.9em}
.txt13{font-size:.82em}
.txt12{font-size:.75em}
.txt11{font-size:.69em}
.txt10{font-size:.63em}

.p2{padding:.31em}
.p5{padding:.62em}.pv5{padding-top:.62em;padding-bottom:.62em}
.p10{padding:1em}
.p15{padding:1.62em}
.mg5{margin:.62em}
.mg10{margin:1em}
.mg15{margin:1.62em}
.mg20{margin:2.62em}
.mg_v_5{margin-top:.62em;margin-bottom:.62em}

.txt_center,.center{text-align:center}
.txt_left{text-align:left}
.txt_right{text-align:right}
.tx_top{vertical-align:top}
.tx_bottom{display:inline-block;vertical-align:bottom}
.tx_center{content:"";clear:both;display:block;align-content:center}
.tx_right{align-content:right}

.border_0{border:0}.border_1{border:1px solid}.border_2{border:2px solid}.border_3{border:3px solid}
.br5{border-radius:.62em}.br10{border-radius:1em}.br15{border-radius:1.62em}

.btn_form{font-weight:bold;margin:0;border:0;color:#fff;background-color:#090}

input[class=form],select{width:95%;display:inline-block;box-sizing:border-box;max-width:600px;border-color:#f60;color:white;background-color: #2b1100}
.box_shadow{box-shadow:5px 10px 8px #ccc}
.text_shadow{text-shadow:#000.1em.1em.2em}
.float_left{float:left}.float_right{float:right}
.btn_form,.btn_click:hover{cursor:pointer}

.main{max-width:100%}

#main {
    transition: margin-left .5s;
    padding: 16px;
}